{% include('base.html.twig') %}

{% block title %}Parrains{% endblock %}

{% block body %}
    <!-- Error page -->
    <div class="container min-vh-100 d-flex justify-content-center
      align-items-center">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-12">
                <!-- content -->
                <div class="text-center">
                    <div class="mb-3">
                        <!-- img -->
                        <img src="{{ asset('build/images/error/404-error-img.e939d109.png') }}" alt=""
                             class="img-fluid">
                    </div>
                    <!-- text -->
                    <h1 class="display-4 fw-bold">Oops! cette page n'existe pas.</h1>
                    <p class="mb-4">Or simply leverage the expertise of our consultation
                        team.</p>
                    <!-- button -->
                    <a href="{{ path('app_dashboard') }}" class="btn btn-primary">Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}