<form method="post" action="{{ path('app_sponsorship_delete', {'id': sponsorship.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sponsorship.id) }}">
    <button class="btn">Delete</button>
</form>
