<div>
    Bonjour,<br>
    <br>
    Voici les identifiants pour vous connecter sur la plateforme de gestion de parrainage OPE. <br>
    Votre identifiant : {{ username }}<br>
    Votre mot de passe : {{ pwd }}<br>
    <br>
    Ces identifiants ne peuvent pas être modifiés. <br>
    <br>
    Bonne journée, <br>
    <br>
    L'équipe OPE.
</div>