<div>
    Bonjour {{ civility }} {{ lastname }},<br>
    <br>
    Faisant suite à votre inscription sur la plateforme de parrainage Ôpe, merci de nous indiquer si
    le contact avec votre étudiant est bien établi.<br>
    <a href="">OUI</a> <a href="">NON</a><br>
    <br>
    Cordialement,<br>
    <br>
    L'équipe Ôpe.
</div>