<div>
    Bonjour {{ civility }} {{ lastname }},<br>
    <br>
    Vous avez bénéficié d’une mise en relation avec un étudiant, merci de bien vouloir nous
    indiquer si les échanges se poursuivent.<br>
    [OUI] [NON]<br>
    <br>
    Cordialement,<br>
    <br>
    L'équipe Ôpe
</div>