<div>
    Bonjour,

    Vous avez accompagné un étudiant dans le cadre d’un parrainage de la plateforme OPE et nous
    tenons à vous en remercier très sincèrement. L’étudiant nous a informé que le suivi n’était plus
    nécessaire. Vous avez la possibilité si vous le souhaitez de faire d’autres parrainages en restant
    inscrit.

    Cordialement,

    L'équipe Ôpe.
</div>