<div>
    Bonjour {{ civility }} {{ lastname }},
    Faisant suite à votre inscription sur la plateforme de parrainage Ôpe, merci de nous indiquer si
    le contact avec votre étudiant est bien établi.
    [OUI] [NON]

    Cordialement,

    L'équipe Ôpe.
</div>