<div>
    Bonjour {{ firstname }},
    Nous avons bien pris en compte votre inscription sur la plateforme de parrainage Ôpe, nous
    avons le plaisir de vous indiquer que nous recherchons un parrain ou une marraine
    correspondant à vos besoins, nous ne manquerons pas de revenir vers vous très rapidement.
    Belle journée.

    Cordialement,

    L'équipe Ôpe
</div>
