<div>
    Bonjour,<br>
    <br>
    Vous avez été accompagné dans le cadre d’un parrainage de la plateforme OPE. Votre
    parrain/marraine nous a informé qu’il n’était pas en mesure de poursuivre le parrainage. Vous avez
    la possibilité de rester inscrit pour bénéficier d’un autre parrainage.<br>
    <br>
    Cordialement,<br>
    <br>
    L'équipe Ôpe
</div>