<div>
    Bonjour {{ firstname }},

    Vous avez bénéficié d’une mise en relation avec un parrain ou une marraine, merci de bien
    vouloir nous indiquer si les échanges se poursuivent.
    [OUI] [NON]

    Cordialement,

    L'équipe Ôpe
</div>