<div>
    Bonjour {{ firstname }}, <br>
    <br>
    Vous avez bénéficié d’une mise en relation avec un parrain ou une marraine, merci de bien
    vouloir nous indiquer si les échanges se poursuivent.<br>
    [OUI] [NON]<br>
    <br>
    Cordialement,<br>
    <br>
    L'équipe Ôpe
</div>