<div>
    Bonjour {{ firstname }},

    Faisant suite à votre inscription sur la plateforme de parrainage Ôpe, merci de nous indiquer si
    le contact avec votre parrain ou votre marraine est bien établi.
    [OUI] [NON]

    Cordialement,

    L'équipe Ôpe.
</div>